<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Aben Premium</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
              >
                Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                <li><span class="dropdown-item">Hi <strong>{{ user }}!</strong></span></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'django_registration_register' %}">Signup</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
            </li>
        </ul>
        </div>
    </div>
  </div>
</nav>
